version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: wideangu
      POSTGRES_USER: wideangu
      POSTGRES_PASSWORD: wideangu123
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
